@model PlanningGenerator.Models.Pln.Employe

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h2>Détails</h2>

    <div class="container-fluid">
        <h4>Employé</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeEmp.Nom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeEmp.Nom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeEmp.NbHeure)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeEmp.NbHeure)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeEmp.Half)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeEmp.Half)
            </dd>
        </dl>
    </div>
    <div class="btn-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a> 
        <a asp-action="Index" class="btn btn-danger">Retour à la liste</a>
    </div>
</div>