@model PlanningGenerator.Models.Pln.Day

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.En)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.En)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
