@model IEnumerable<PlanningGenerator.Models.Pln.Hour>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Heures</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._hour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._minutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._hms)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item._hour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._minutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._hms)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>