@model IEnumerable<PlanningGenerator.Models.Pln.GroupEmpCat>

@{
    ViewData["Title"] = "Liste des groupes";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row align-items-center">
            <a asp-action="CreateGroup" asp-controller="GroupEmps" class="btn btn-success col">Ajouter un nouveau groupe</a>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Gest" asp-route-id="@item.Id" class="btn btn-primary">Gérer membres</a>
                            <a asp-action="EditGroup" asp-route-id="@item.Id" class="btn btn-secondary">Modifier</a>
                            <a asp-action="DeleteGroup" asp-route-id="@item.Id" asp-controller="GroupEmps" class="btn btn-danger">Supprimer</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>